*.iml
.DS_Store
.env
.gradle
.idea
.kotlin
development.properties
local.properties
local.conveyor.conf
package*.json
selenium-manager
selenium-manager.exe
!src/**/build/
build
buildSrc/build/
composeApp/.marketing/
composeApp/.user*/
composeApp/DawnCache/
composeApp/GPUCache/
composeApp/build/
composeApp/dylib/
composeApp/jbr/
logs/
node_modules/
output*/
