*.iml
.gradle
build/
composeApp/build/
/buildSrc/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
logs
composeApp/docs
/composeApp/DawnCache/
/composeApp/GPUCache/
chrome-headless-shell-*/
chromedriver-*/
/composeApp/.user/
/output/
/composeApp/jbr/
/composeApp/dylib/
