*.iml
.DS_Store
.env
.gradle
.idea
.kotlin
local.properties
package*.json
!src/**/build/
build
buildSrc/build/
composeApp/.user/
composeApp/DawnCache/
composeApp/GPUCache/
composeApp/build/
composeApp/dylib/
composeApp/jbr/
chrome-headless-shell-*/
chromedriver-*/
logs/
node_modules/
output*/
