name: Build Swift Library

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        arch:
          - x86_64-apple-macos10.15
          - arm64-apple-macos11
    steps:
      - uses: actions/checkout@v3

      - name: Set up Swift environment
        run: |
          brew install swift

      - name: Build dylib
        run: |
          ARCH_DIR=${{ matrix.arch }}
          if [[ "$ARCH_DIR" == *"arm64"* ]]; then
            LIB_DIR="darwin-aarch64"
          else
            LIB_DIR="darwin-x86_64"
          fi
          
          mkdir -p ${{ github.workspace }}/composeApp/build/$LIB_DIR
          
          swiftc -emit-library composeApp/src/desktopMain/swift/MacosApi.swift -target ${{ matrix.arch }} -o ${{ github.workspace }}/composeApp/build/$LIB_DIR/libMacosApi.dylib

        working-directory: ${{ github.workspace }}

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.arch }}-libMacosApi.dylib
          path: composeApp/build/**/libMacosApi.dylib