name: "Build Package"

on:
  push:
    branches:
      - 'v-*'
  pull_request:
    branches:
      - 'v-*'

jobs:
  check-dylib-cache:
    runs-on: ubuntu-latest
    outputs:
      cache-hit-x86: ${{ steps.cache-check-x86.outputs.cache-hit }}
      cache-hit-aarch64: ${{ steps.cache-check-aarch64.outputs.cache-hit }}
    steps:
      - uses: actions/checkout@v4

      - name: check-dylib-cache-x86
        id: cache-check-x86
        uses: actions/cache@v4
        with:
          path: ./composeApp/dylib/darwin-x86-64/libMacosApi.dylib
          key: mac-dylib-darwin-x86-64-${{ hashFiles('**/*.swift*', '**/dylib-mini-sys.properties') }}
          enableCrossOsArchive: true

      - name: check-dylib-cache-aarch64
        id: cache-check-aarch64
        uses: actions/cache@v4
        with:
          path: ./composeApp/dylib/darwin-aarch64/libMacosApi.dylib
          key: mac-dylib-darwin-aarch64-${{ hashFiles('**/*.swift*', '**/dylib-mini-sys.properties') }}
          enableCrossOsArchive: true

  build-macos:
    needs: check-dylib-cache
    runs-on: macos-latest
    if: needs.check-dylib-cache.outputs.cache-hit-x86 != 'true' && needs.check-dylib-cache.outputs.cache-hit-aarch64 != 'true'
    strategy:
      matrix:
        arch:
          - x86_64-apple-macos10.15
          - arm64-apple-macos11
    steps:
      - uses: actions/checkout@v4

      - name: Set up Swift environment
        run: brew install swift

      - name: Build dylib
        working-directory: ${{ github.workspace }}
        run: |
          ARCH_DIR=${{ matrix.arch }}
          if [[ "$ARCH_DIR" == *"arm64"* ]]; then
            LIB_DIR="darwin-aarch64"
          else
            LIB_DIR="darwin-x86-64"
          fi
          mkdir -p ${{ github.workspace }}/composeApp/dylib/$LIB_DIR
          swiftc -emit-library composeApp/src/desktopMain/swift/MacosApi.swift -target ${{ matrix.arch }} -o ${{ github.workspace }}/composeApp/dylib/$LIB_DIR/libMacosApi.dylib
          echo "PREFIX=$LIB_DIR" >> $GITHUB_ENV

      - name: Save dylib to cache
        id: cache-dylib-save
        uses: actions/cache/save@v4
        with:
          path: ./composeApp/dylib/${{ env.PREFIX }}/libMacosApi.dylib
          key: mac-dylib-${{ env.PREFIX }}-${{ hashFiles('**/*.swift*', '**/dylib-mini-sys.properties') }}
          enableCrossOsArchive: true

  build-ubuntu:
    needs: [check-dylib-cache, build-macos]
    runs-on: ubuntu-latest
    if: always()
    env:
      BUILD_FULL_PLATFORM: YES
      BUILD_MAIN_PATH: ${{ github.workspace }}/composeApp/build/classes/kotlin/desktop/main
    steps:
      - uses: actions/checkout@v4
      # https://github.com/actions/runner-images/issues/2840
      - name: Clear unnecessary files to free up space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"  

      - name: Read version properties
        id: versioning
        run: |
          VERSION=$(grep 'version=' ${{ github.workspace }}/composeApp/src/desktopMain/resources/version.properties | cut -d'=' -f2)
          BETA=$(grep 'beta=' ${{ github.workspace }}/composeApp/src/desktopMain/resources/version.properties | cut -d'=' -f2)
          if [ "$BETA" == "0" ]; then
            PACKAGE_VERSION="${VERSION}-beta"
          elif [ -n "$BETA" ]; then
            PACKAGE_VERSION="${VERSION}-beta${BETA}"
          else
            PACKAGE_VERSION="${VERSION}"
          fi
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ./composeApp/resources
            ./composeApp/jbr
          key: >
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*',
            '**/gradle-wrapper.properties', '**/libs.versions.toml',
            '**/webDriver.properties', '**/jbr.yaml') }}
          restore-keys: ${{ runner.os }}-gradle-
          enableCrossOsArchive: true

      - name: check-darwin-x86-64-dylib-cache
        uses: actions/cache@v4
        with:
          path: ./composeApp/dylib/darwin-x86-64/libMacosApi.dylib
          key: mac-dylib-darwin-x86-64-${{ hashFiles('**/*.swift*', '**/dylib-mini-sys.properties') }}
          enableCrossOsArchive: true

      - name: check-darwin-aarch64-dylib-cache
        uses: actions/cache@v4
        with:
          path: ./composeApp/dylib/darwin-aarch64/libMacosApi.dylib
          key: mac-dylib-darwin-aarch64-${{ hashFiles('**/*.swift*', '**/dylib-mini-sys.properties') }}
          enableCrossOsArchive: true

      - name: Build with Gradle
        run: ./gradlew build

      - name: Prepare Conveyor
        run: |
          echo "${{ secrets.DEVELOPER_ID_APPLICATION }}" | base64 --decode > developerID_application.p12

      - name: Run Conveyor
        uses: hydraulic-software/conveyor/actions/build@v14.2
        env:
          APPLE_ASP: ${{ secrets.APPLE_ASP }}
          MAC_SIGNING_KEY_FILE_PATH: ${{ github.workspace }}/developerID_application.p12
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          command: make site --rerun
          extra_flags: -f ci.conveyor.conf
          signing_key: ${{ secrets.SIGNING_KEY }}
          agree_to_license: 1

      - name: Cleanup Conveyor
        if: always()
        run: rm -f developerID_application.p12

      - name: Display file tree with sizes
        run: |
          echo "Displaying the size of files and directories in 'output' directory:"
          du -ah output | sort -rh

      - name: Upload Mac amd64
        uses: actions/upload-artifact@v4
        with:
          name: clipevery-mac-amd64-${{ env.PACKAGE_VERSION }}
          path: output/clipevery-*-mac-amd64.zip

      - name: Upload Mac aarch64
        uses: actions/upload-artifact@v4
        with:
          name: clipevery-mac-aarch64-${{ env.PACKAGE_VERSION }}
          path: output/clipevery-*-mac-aarch64.zip

      - name: Upload Windows amd64
        uses: actions/upload-artifact@v4
        with:
          name: clipevery-windows-${{ env.PACKAGE_VERSION }}
          path: output/clipevery-*-windows-amd64.zip

      - name: Upload Linux amd64
        uses: actions/upload-artifact@v4
        with:
          name: clipevery-linux-${{ env.PACKAGE_VERSION }}
          path: output/debian/clipevery_*_amd64.deb

      # delete output directory to free up space, Github Action only has 14G space,
      # to avoid the failure of insufficient space in the subsequent post recycling steps
      - name: Delete output directory
        run: rm -rf output
