name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: >
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*',
            '**/gradle-wrapper.properties', '**/libs.versions.toml') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Cache Chrome Driver And Headless Shell
        uses: actions/cache@v4
        with:
          path: ./composeApp/resources
          key: chrome-driver-headless-shell-${{ hashFiles('**/webDriver.properties') }}
          restore-keys: chrome-driver-headless-shell-

      - name: Cache Jetbrains Runtime JDK
        uses: actions/cache@v4
        with:
          path: ./composeApp/jbr
          key: jbr-${{ hashFiles('**/jbr.yaml') }}
          restore-keys: jbr-

      - name: Build with Gradle
        run: ./gradlew build