name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_FULL_PLATFORM: YES
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: >
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*',
            '**/gradle-wrapper.properties', '**/libs.versions.toml') }}

      - name: Cache Chrome Driver And Headless Shell
        uses: actions/cache@v4
        with:
          path: ./app/resources
          key: chrome-driver-headless-shell-${{ hashFiles('**/webDriver.properties') }}

      - name: Cache Jetbrains Runtime JDK
        uses: actions/cache@v4
        with:
          path: ./app/jbr
          key: jbr-${{ hashFiles('**/jbr.yaml') }}

      - name: Build with Gradle
        run: ./gradlew build